#contain{
	width:100%;text-align:center;
}
table{
	margin-top:10px;font-size:14px;color:#404040;width:600px;
}
caption{
	color:#007b00;font-size:16px;
}
fieldset{
	width:515px;
}
legend{
	color:#007b00
}
.tijiao{
	height:20px;color:#007b00;font-weight:700px;background:#f2fdf2;
}
