#contain{
	width:750px;height:400px;background-color:white;
}
table{
	width:80%;margin-top:30px;
}
fieldset{
	width:80%;text-align:left;word-break:break-all;word-wrap:break-word;height:300px;
}
fieldset p{
	text-indent:2em;margin-top:2px;color:#333;font-size:15px;
}
fieldset legend{
	color:#007b00;font-size:15px;
}
caption{
	background:f2fdf2;color:#007b00;height:20px;font-size:20px;
}

table .tdtitle{
	text-align:center;color:#404040;font-size:15px;background: #c7e9ad;
}
table .tddata{
	text-align:center;font-size:14px;background:#f4f4f4;width:25%;
}
a{
	color:#007b00;text-decoration:none;
}
a:hover{
 	color:red;text-decoration:underline;
 }