#contain{
	width:750px;height:400px;background-color:white;
}
table{
	width:80%;margin-top:30px;border:1px;border-color:black;
}
fieldset{
	width:80%;text-align:left;word-break:break-all;word-wrap:break-word;height:300px;font-size:14px;text-indent:1.5em;color:#404040;
}
fieldset legend{
	color:#007b00;font-size:15px;
}
caption{
	background:f2fdf2;color:#007b00;height:20px;font-size:20px;
}

table .tdtitle{
	text-align:center;color:#404040;font-size:15px;background: #c7e9ad;
}
table .tddata{
	text-align:center;font-size:14px;background:#f4f4f4;width:25%;
}