*{
	margin:0;padding:0;
}
body{
	font:"ו";
}
body{
	text-align:center;min-width:980px;background-color:white;
}
#container{
	width:980px;margin:0 auto;text-align:left;background-color:white;
}
#tophead{
	float:left;width:980px;margin:0 0;height:100px;
}
#leftcontent{
	float:left;width:200px;margin-top:3px;
}
#maincontent{
	float:right;width:780px;margin-top:3px;
}
